PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/relieflink?retryWrites=true&w=majority
JWT_SECRET=supersecretjwtkey
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
